<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title(assigns[:title]) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="min-h-screen pb-12 bg-green-900 bg-opacity-94 text-white">
    <%= @inner_content %>
    <footer class="fixed w-full h-12 bottom-0 px-4 flex justify-between items-center bg-green-800">
      <%= live_render(@conn, HybridBlogWeb.NavigationLive.Menu) %>
      <%= live_render(@conn, HybridBlogWeb.SessionLive.Menu) %>
    </footer>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <aside id="dev-nav" class="px-2 flex items-end space-x-2 bg-black bg-opacity-50">
        <span class="text-sm">DEV NAV</span>
        <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "text-xs" %>
        <button class="text-xs underline" onclick="document.querySelector('#dev-nav').classList.add('hidden')">Hide</button>
      </aside>
    <% end %>
  </body>
</html>
