<%= content_tag :button, phx_click: "toggle", phx_target: @myself do %>
  <%= img_tag @current_user.picture, width: 36, height: 36 %><%= @current_user.name %>
<% end %>

<ul class="<%= if !@menu_open do %>hidden<% end %>">
  <li><%= link "Sign out", to: Routes.session_path(@socket, :sign_out) %>
</ul>
