<%=
  if @authenticated do
    live_component @socket, HybridBlogWeb.SessionLive.AccountMenuComponent, id: :account_menu, current_user: @current_user
  else
    live_component @socket, HybridBlogWeb.SessionLive.SigningMenuComponent, id: :signing_menu
  end
%>
