<%=
  if @user_id do
    live_component @socket, HybridBlogWeb.SessionLive.AccountMenuComponent, id: :account_menu, name: @name, picture: @picture
  else
    live_component @socket, HybridBlogWeb.SessionLive.SigningMenuComponent, id: :signing_menu
  end
%>
