<button phx-click="toggle">
  Sign in / Sign up
</button>

<%= if @dialog_open do %>
  <aside phx-capture-click="toggle"
         phx-window-keydown="toggle"
         phx-key="escape"
         phx-hook="authorize">
    <div class="phx-modal-content">
      <button class="phx-modal-close" phx-click="toggle">&times;</button>
      <ul>
        <li><a class="google">Sign in with Google</a>
      </ul>
    </div>
  </aside>
<% end %>
